@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#menu-b .navbar-toggler {
  color: #000;
}
#content5-8 P {
  font-size: 20px;
}
#content5-8 .mbr-section-title SPAN {
  font-size: 46px;
  font-family: 'Open Sans', sans-serif;
}
#footer1-d FONT {
  color: #f1c050;
}
